*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.con{
    width: 100%;
    height: 100px;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 100px;
}
.con h1{
    margin-left: 80px;
    font-size: 40px;
    font-family:algerian;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.con a{
    margin-left: 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    transition: color 0.5s, font-size 0.5s;
}
.con a:hover{
    color: red;
    font-size: 30px;
    transition: color 0.5s, font-size 0.5s;
}
.mc{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.image{
    grid-column: 2/3;
    grid-row: 1/3;
}
.image img{
    width: 350px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    transition: transform 0.5s;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    margin-top: 80px;
}
.ab{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 140px;
    margin-left: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 30px;
}
.ab h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: algerian;
    letter-spacing: 2px;
}
.image img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.ab h1:hover{
    color: red;
    transition: color 0.5s;
}
.ab p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.ab #p2{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.social{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 80px;
    margin-left: 130px;
}
.social h3{
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
.social i{
    font-size: 45px;
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
}

.bt{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 60px;
    margin-top: -60px;
}
.bt button{
    margin-left:100px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: -30px;
}
.bt button:hover{
    background-color: red;
    transition: 0.5s;
}


@media (min-width:320px) and (max-width: 480px){
.con {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0px 10px;
        line-height: 50px;
    }
    .con h1 {
        font-size: 25px;
        margin-left: 0;
    }
    .con a {
        font-size: 15px;
        margin-left: 0;
        line-height: 20px;
    }
    .mc {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
.image{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 140px;
    margin-top: 20px;
}
.image img{
    width: 160px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    transition: transform 0.5s;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    margin-top: 10px;

}
.ab{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0px;
    margin-left: 130px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 30px;
}
.ab h1{
    font-size: 25px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: algerian;
    letter-spacing: 2px;
}
.image img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
.ab h1:hover{
    color: red;
    transition: color 0.5s;
}
.ab p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}
.ab #p2{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}
.social{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 10px;
    margin-left: 150px;
    height: 90px;
    width: 250px;
}
.social h3{
    font-size: 18px;
    font-weight: 900;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
.social i{
    font-size: 25px;
    margin-left: -20px;
    cursor: pointer;
    transition: color 0.5s, font-size 0.5s;
    letter-spacing: 40px;
}

.bt{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-left: 130px;
    margin-top: -140px;
}
.bt button{
    margin-left:20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: -50px;
}
.bt button:hover{
    background-color: red;
    transition: 0.5s;
}
}
